@import "tailwindcss";

:root {
    --font-title: 'Cormorant Garamond', serif;
    --font-body: 'Open Sans', sans-serif;
}

  h1, h2, h3 {
    font-family: var(--font-title), Helvetica, sans-serif;
  }
 
  
  a, button {
      font-family: var(--font-title), Helvetica, sans-serif;
      font-weight: 700;
  }

  
  p, li {
    font-family: var(--font-body), Helvetica, sans-serif;
  }
