@import "tailwindcss";

:root {
  --font-body: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --font-title: "Cormorant Garamond", Georgia, "Times New Roman", serif;
}

html, body { font-family: var(--font-body); }
h1, h2, h3 .display, .font-title { font-family: var(--font-title); }

  
  a, button {
      font-family: var(--font-title), Helvetica, sans-serif;
      font-weight: 700;
  }

  
  p, li {
    font-family: var(--font-body), Helvetica, sans-serif;
  }
